* {
    margin: 0; padding: 0; box-sizing: border-box;
}

.wrapper {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1010px;
    height: 100vh;
    margin: 0 auto;
    padding: 5px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0px;
}

select {
    margin: 5px 0;
}

.result {
    margin-top: 20px;
}